@media only screen and (max-width:600px) {
    nav{
      margin-right: 0px;
    }
    nav li{
        display: none;

      }
    .rb-buttons button{
        margin-top: 10%;
        margin-right: 2%;
        width: 70px;
        height: 3em;   
        margin-bottom: 10%;
       font-size: 60%;
    }  
    .rb-background-image{
        margin: 0%;
        padding: 2%;
        background-image: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.1)),url(images/background.jpg);
        /* background-image: url(images/background.jpg); */
        background-repeat: no-repeat;
        height: 100vh;
        } 
   
    .rb-apply-now{
        font-size: 100%;
        padding: 3%;
        width: 33%;
    }
    footer div{
        width: 100%;
        float: none;
        margin: 3% 0
    }
    footer{
        width: 100%;
        margin: 0px;
    }
    .rb-loremipsum{
        width: 100%;
    }
    .rb-contacts{
        width: 100%;
    }
    .rb-help{
        width: 100%;
    }
    #slogan{
        padding-top: 40px;
        font-size: 300%;
        padding-bottom: 70px;
    }
    .rb-trending{
        font-size: 100%;
        padding-bottom: 4%;
    }
    .rb-searchbutton{
        height: 50px;
        
      }
    .rb-filter-center a{
        font-size: 80%;
  
    }  
    .rb-job-listing {
        width: 78%;
        background-color: #f2f2f217;
        transition: all 0.3s ease-in-out; 
    }
    
    .rb-job-listing h5 {
        font-size: 110%;
        color: rgb(154, 152, 152);
    }
    .rb-email input{
      width: 40%;
      height: 25px;
      
  }
  .rb-email input:focus{
      width: 60%;
      height: 30px;
  }
    .rb-email button{
      background-color: #5ba46b;
      width: 10%;
      height: 32px;
     
    }
    .rb-enter{
      width: 30%;
      padding: 1%;  
    }
    .rb-email{
      font-size: 100%;
    }
    .rb-menu-icon{
        display: block;
        height: 10%;
        width: 10%;
        margin-left: 1%;
        border: none;
        background-color: transparent;
      }
    .rb-menu-icon img{
        width: 100%;
    }
    .rb-header img{
        display: none;
    }
    .rb-show_menu{
        padding-top: 28%;
        padding-left:90px;
        color:white;
        display: block;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;    
       }
    .rb-show_menu .header{
        margin-top: 10%;
        display:list-item;
        padding: 1.4em;
        box-sizing: border-box;
        font-size: 100%;
    }
    .rb-aboutus-stories{
        margin-top: 300px;
    }
    .rb-main-container{
        margin-top: 25%;
        width: 80%;
      }
    .rb-users-data{
        width: 100%;
      }
    .rb-enter-register{
        width: 35%;
    }
    .rb-register-container, .rb-login-container, .rb-forgotpassword-container, contactus-container{
        /* background-image: url("images/background.jpg"); */
        width: 100%;
        background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.5)),url(images/background.jpg);

        }
        
         .rb-job-categories, .rb-job-locations{
            padding: 5%;
            align-items: center;
            width: 25%;
         } 
         .rb-job-categories h2{
            font-size: 120%;
            width: 100%;
          }
         .rb-job-locations h2{
            font-size: 120%;
            width: 100%;
         } 
          
          .rb-job-categories ul{
            width: 100%;
            font-size: 80%;
          }
          .rb-job-locations ul{
            width: 100%;
            font-size: 80%;
          }
          .rb-requirements h4{
            font-size: 150%;
          }
          .rb-requirements p{
            font-size: 70%;
            line-height: 1.2em;
            width: 100%;
          }
          
          .rb-employer-container{
            padding: 5%;
          }
          .rb-container{
            font-size: 50%;
          }

          .rb-search-container, .rb-filter-container {
            display: inline-block;
            vertical-align: top;
        }
          
          #search-input {
            padding: 10px;
            font-size: 70%;
            border: solid 1px #ccc;
            width: 200px;
          }
          
          #search-button {
            width: 100px;
            padding: 10px 20px;
            background-color: rgb(105, 164, 105);
            border-color: rgb(105, 164, 105);
            font-size: 14px;
          }
          
          #industry-select {
            width: 200px;
            padding: 10px;
            font-size: 14px;
            border: solid 1px #ccc;
          }
          
          .rb-all-candidate-profile {
            padding: 20px;
            margin: 20px;
          }
          .rb-candidate-profile{
            box-shadow: 2px 2px 5px #ccc;
            border-radius: 20px;
            background-color: #fff;
            width: 100%;
    
          }
          .rb-candidate-container{
            display: inline;
          }
          
          .rb-candidate-profile h2 {
            margin-top: 0;
          }
          .rb-images-candidates {
            width: 250px;
            border-radius: 100%;
            padding-top: 10px;
          }
          .rb-candidate-profile ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
          }
          .rb-candidate-profile li {
            margin: 10px 0;
          }
          .rb-job-listing{
            height: 55%;
          }
          /* .figure-and-paragraph{
            margin-bottom: 20%;
            display: block;
          }
          .rb-aboutus-stories{
            margin-top: 150px;
          } */
          .rb-aboutus-container{
            display: inline-block;
          }
  }